<div id="child-crud" class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3" style="margin-top: 10px;">
      <h4>Child information</h4>
      <div id="file-input">
        <label #preview for="childPhoto" id="preview"></label>
        <input style="opacity: 0; display: none;" id="childPhoto" type="file" name="childPhoto" #childPhoto (change)="updateImageDisplay()"
          placeholder="Upload file..." accept=".jpg, .jpeg, .png" />
      </div>
    </div>
    <div class="col-md-9">
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>First name</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Last name</h5>
          <input type="text" pInputText>
        </span>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Gender</h5>
          <p-selectButton id="gender-select" name="gender" [options]="genderTypes" [(ngModel)]="model.gender"></p-selectButton>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Date of birth</h5>
          <p-calendar name="birthday" placeholder="Select date" [(ngModel)]="model.dob" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Community</h5>
          <p-dropdown id="zoneList" [style]="{'width': '200px'}" id="zoneList" name="zoneList" [options]="zones" [(ngModel)]="model.zone"></p-dropdown>
        </span>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Home details</h5>
          <textarea type="text" [rows]="1" [cols]="20" autoResize="true" pInputTextarea></textarea>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Lives with</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>People in household</h5>
          <p-spinner placeholder="Enter number" size="25" [min]="0" [max]="20" [(ngModel)]="val1"></p-spinner>
        </span>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Favorite subject</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Grade</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>School progress</h5>
          <p-selectButton [style]="{'width': '200px'}" id="progress-select" name="gender" [options]="progressTypes" [(ngModel)]="model.gender"></p-selectButton>
        </span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-3" style="margin-top: 10px;">
      <h4>Family information</h4>
    </div>
    <div class="col-md-9">
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Father's name</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Father's ocupation</h5>
          <input type="text" pInputText>
        </span>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Mother's name</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Mother's ocupation</h5>
          <input type="text" pInputText>
        </span>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Two chores</h5>
          <input type="text" pInputText>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Siblings</h5>
          <p-spinner placeholder="Enter number" size="25" [min]="0" [max]="20" [(ngModel)]="val1"></p-spinner>
        </span>
      </div>
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Favorite activities</h5>
          <textarea type="text" [rows]="1" [cols]="20" autoResize="true" pInputTextarea></textarea>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Health</h5>
          <p-selectButton [style]="{'width': '200px'}" id="health-select" name="health" [options]="progressTypes" [(ngModel)]="model.gender"></p-selectButton>
        </span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-3" style="margin-top: 10px;">
      <h4>Administrative</h4>
    </div>
    <div class="col-md-9">
      <div class="row" style="margin-top: 10px;">
        <span class="col-xs-12 col-sm-3">
          <h5>Observations</h5>
          <textarea type="text" [rows]="1" [cols]="20" autoResize="true" pInputTextarea></textarea>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Registration Date</h5>
          <p-calendar name="birthday" placeholder="Select date" [(ngModel)]="model.dob" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
        </span>
        <span class="col-xs-12 col-sm-3">
          <h5>Staff in charge</h5>
          <input type="text" pInputText>
        </span>
      </div>
    </div>
  </div>
</div>