$imageSize: 225px;
.cntainr{
  margin-bottom:1em!important;
}
#child-crud{
  font-family: 'Poppins', sans-serif;
  padding: 3em 0 1em 0;
  max-width: 1170px;
  width: 95%;
  #preview {
    img {
      width: 8.7em;
      height: 8.7em;
      border-radius: 100%;
      object-fit: cover;
      cursor:pointer;
    }
  }
  
  #file-input{
    text-align: center;
  }
  


  #submit-child {
    margin-bottom: 20px;
    height: 35px;
    width: 100px;
  }

  label.required::after{
    content: "*";
    color: red;
  }
}