<div id="child-crud">
  <form name="child-form" (ngSubmit)="f.form.valid && upload()" #f="ngForm" novalidate>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-4" style="margin-top: 10px;">
        <h4>Child information</h4>
        <div id="file-input">
          <label for="childPhoto" id="preview">
            <img [src]="previewSrc">
          </label>
          <input style="opacity: 0; display: none;" id="childPhoto" type="file" name="childPhoto" #childPhoto (change)="updateImageDisplay()"
            placeholder="Upload file..." accept=".jpg, .jpeg, .png" />
        </div>
      </div>
      <div class="col-md-8">
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5 class="required">First name</h5>
            <input type="text" [(ngModel)]="model.firstName" name="firstName" pInputText required>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5 class="required">Last name</h5>
            <input type="text" [(ngModel)]="model.lastName" name="lastName" pInputText required>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5 class="required">Gender</h5>
            <p-selectButton id="gender-select" [style]="{'width': '168px'}" name="gender" [options]="genderTypes" [(ngModel)]="model.gender" name="gender" required></p-selectButton>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5 class="required">Date of birth</h5>
            <p-calendar name="dob" [style]="{'width': '168px'}" placeholder="Select date" dateFormat="mm/dd/yy" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="1990:2030" [(ngModel)]="model.dob" required></p-calendar>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5 class="required">Community</h5>
            <p-dropdown id="zoneList" [style]="{'width': '168px'}" id="zoneList" name="zoneList" [filter]="true" [options]="zones" [(ngModel)]="model.zone"
              name="zone" required></p-dropdown>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Home details</h5>
            <textarea type="text" [rows]="1" [cols]="20" autoResize="true" [(ngModel)]="model.household.details" name="household.details"
              pInputTextarea></textarea>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Lives with</h5>
            <input type="text" [(ngModel)]="model.household.livesWith" name="livesWith" pInputText>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>People in household</h5>
            <p-spinner placeholder="Enter number" size="20" [min]="0" [max]="20" [(ngModel)]="model.household.howMany" name="household.howMany"></p-spinner>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Favorite subject</h5>
            <input type="text" [(ngModel)]="model.school.favSubject" name="school.favSubject" pInputText>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Grade</h5>
            <input type="text" [(ngModel)]="model.school.grade" name="school.grade" pInputText>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>School progress</h5>
            <p-selectButton [style]="{'width': '168px'}" id="progress-select" name="gender" [options]="progressTypes" [(ngModel)]="model.school.progress"
              name="school.progress"></p-selectButton>
          </span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 40px;">
      <div class="col-md-4 " style="margin-top: 10px;">
        <h4>Family information</h4>
      </div>
      <div class="col-md-8">
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Father's name</h5>
            <input type="text" [(ngModel)]="model.household.father.name" name="father.name" pInputText>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Father's ocupation</h5>
            <input type="text" [(ngModel)]="model.household.father.occupation" name="father.occupation" pInputText>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Mother's name</h5>
            <input type="text" [(ngModel)]="model.household.mother.name" name="mother.name" pInputText>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Mother's ocupation</h5>
            <input type="text" [(ngModel)]="model.household.mother.occupation" name="mother.occupation" pInputText>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Favorite chores</h5>
            <input type="text" [(ngModel)]="model.household.favChores" name="favChores" pInputText>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Siblings</h5>
            <p-spinner placeholder="Enter number" size="20" [min]="0" [max]="20" [(ngModel)]="model.household.siblings" name="household.siblings"></p-spinner>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Favorite activities</h5>
            <textarea type="text" [rows]="1" [cols]="20" autoResize="true" [(ngModel)]="model.misc.favActivities" name="favActivities"
              pInputTextarea></textarea>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Health</h5>
            <p-selectButton [style]="{'width': '168px'}" id="health-select" name="health" [options]="progressTypes" [(ngModel)]="model.misc.health"
              name="health"></p-selectButton>
          </span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 40px;">
      <div class="col-md-4" style="margin-top: 10px;">
        <h4>Administrative</h4>
      </div>
      <div class="col-md-8">
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Observations</h5>
            <textarea type="text" [rows]="1" [cols]="20" autoResize="true" [(ngModel)]="model.observations" name="observations" pInputTextarea></textarea>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5 class="required">Registration Date</h5>
            <p-calendar name="birthday" [style]="{'width': '168px'}" placeholder="Select date" dateFormat="mm/dd/yy" [monthNavigator]="true" [yearNavigator]="true"
              yearRange="1990:2030" [(ngModel)]="model.registered" name="registered" required></p-calendar>
          </span>
        </div>
        <div class="row" style="margin-top: 10px;">
          <span class="col-xs-6 col-sm-4">
            <h5>Staff in charge</h5>
            <p-dropdown id="zoneList" [style]="{'width': '168px'}" id="staffList" name="staffList" [filter]="true" [options]="staff"
              [(ngModel)]="model.staffId"></p-dropdown>
          </span>
          <span class="col-xs-6 col-sm-4">
            <h5>Sponsor Email</h5>
            <input type="text" [(ngModel)]="model.sponsorEmail" name="sponsorEmail" pInputText>
          </span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 40px; padding-bottom:40px;">
      <div class="col-sm-1 col-md-offset-4" style="margin-top: 10px;">
        <button [disabled]="!f.form.valid" id="submit-child" pButton type="submit" label="Submit" class="ui-button-success"></button>
      </div>
    </div>
  </form>
</div>