<h2 mat-dialog-title> {{title}}</h2>

<span *ngIf="reference.admin">
    <ul *ngIf="data">
        <li *ngFor="let line of data">
            {{line}}
        </li>
    </ul>
    <p>{{ message }}</p>
</span>

<span *ngIf="reference.zone">
    <mat-input-container class="full-width form-group">
        <input matInput type="text" name="zoneName" placeholder="Zone Name" [(ngModel)]="newZoneName">
    </mat-input-container>
</span>

<div id="dialog-buttons">
    <button type="button" class="green" (click)="confirmed()" mat-icon-button>
        <mat-icon>check_circle</mat-icon>
    </button>
    <button type="button" class="red" (click)="dialogRef.close()" mat-icon-button>
        <mat-icon>cancel</mat-icon>
    </button>
</div>
