
<div style="background-color: #fbfbfb">
    <div class='container'>
        <div class='row' class='flexRow' style='display:flex;'>
            <div class='col col-md-6 a'>
                <h2>About us</h2>
                <h3>Partnering to make God's love visible through <b>Education, Housing & Health</b></h3>
                <p>Hands of Hope DR is a holistic ministry, sharing the love of Christ with the community and working to improve living conditions and educational opportunities for children and adults.</p>
                <p>This includes mentoring and working with community leaders, joining with churches by providing Bible Study and Vacation Bible School, and promoting child sponsorship. </p>
            </div>
            <div class='col col-md-6'>
                <img id="bigger-logo-img" src="/assets/images/hoh.png" style='width:100%;'>
            </div>
        </div>
    </div>
</div> 
<div style="background-color: #fff">
    <div class='container'>
        <div class='row' class='flexRow' style='display:flex;'>
            <div class='col col-md-6'>
                <img id="bigger-logo-img" src="/assets/images/hoh.png" style='width:100%;'>
            </div>
            <div class='col col-md-6 a'>
                <h2>How we do it</h2>
                <ul>
                  <li>Developing and maintaining strong relationships with local community leaders and churches to increase cooperation within communities.</li>
                  <li>A child sponsorship program in the communities where work is underway</li>
                  <li>Providing workshops on topics affecting the community, such as the importance of crop rotation for farmers</li>
                  <li>Meeting with sponsored children's families monthly to monitor and mentor parents on raising children, maintaining a healthy home atmosphere, discussing and addressing family, school and health issues.</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div style="background-color: #fbfbfb">
    <div class='container'>
        <div class='row' class='flexRow' style='display:flex;'>
            <div class='col col-md-6 a'>
                <h2>Why we do it</h2>
                <h3>Partnering to make God's love visible through <b>Education, Housing & Health</b></h3>
                <p>There are few areas of the United States where we have truly impoverished communities of people.  Government programs are available to assist with housing, and to provide medical services and equipment for disabled.  There are food pantries and many non-profit organizations that assist with necessities.</p>
                <p>In the Dominican Republic, there are no government programs to assist the poor.  There are no food pantries or churches to help with building bathrooms, or seeing that children without birth certificates have an opportunity to still learn from a qualified teacher. </p>
            </div>
            <div class='col col-md-6'>
                <img id="bigger-logo-img" src="/assets/images/hoh.png" style='width:100%;'>
            </div>
        </div>
    </div>
</div> 
<div style="background-color: #fff">
        <div class='container'>
            <div class='row' style='padding: 4em 0;'>
                <div class='col col-md-12' style='text-align:center;'>
                    <h2>Our Staff</h2>
                    <p>We are a small organization, run entirely by volunteers in the U.S together with 5 nationals in the Dominican Republic.</p>
                    <div class='scroll-X static'>
                            <div class='item'>
                                <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                <p><strong>Richard Chatman </strong><br>co-leader</p>
                            </div>
                            <div class='item'>
                                <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                <p><strong>Jose Almonté </strong><br>co-leader</p>
                            </div>
                            <div class='item'>
                                <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                <p><strong>Mario Rosario  </strong><br>Child facilitator at El Almirante</p>
                            </div>
                            <div class='item'>
                                <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                <p><strong>Ruth de Rosario Mateo</strong><br>Child facilitator at Capulin</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
 </div> 
