<div class='hedr'>
    <img src="/assets/images/hoh.svg">
</div>
<div class='container' id='whatWeDo'>
    <div class='row'>
        <div class='col col-sm-12'>
            <h2>About Us</h2>
        </div>
        <div class='col col-md-4'>
            <img id="bigger-logo-img" src="/assets/images/2.jpg" >
            <h3>Sharing the love of Christ</h3>
            <p>Hands of Hope DR is a holistic ministry, sharing the love of Christ with the community and working to improve living conditions and educational opportunities for children and adults.</p>
            <p>This includes mentoring and working with community leaders, joining with churches by providing Bible Study and Vacation Bible School, and promoting child sponsorship. </p>
        </div>
        <div class='col col-md-4'>
            <img id="bigger-logo-img" src="/assets/images/1.jpg" >
            <h3>How we do it</h3>
            <p>Developing and maintaining strong relationships with local community leaders and churches to increase cooperation within communities.</p>
            <p>Through a child sponsorship program in the communities where work is underway</p>
            <p>Providing workshops on topics affecting the community, such as the importance of crop rotation for farmers</p>
            <p>Meeting with sponsored children's families monthly to monitor and mentor parents on raising children, maintaining a healthy home atmosphere, discussing and addressing family, school and health issues.</p>
        </div>
        <div class='col col-md-4'>
            <img id="bigger-logo-img" src="/assets/images/3.jpg" >
            <h3>Title</h3>
            <p>There are few areas of the United States where we have truly impoverished communities of people.  Government programs are available to assist with housing, and to provide medical services and equipment for disabled.  There are food pantries and many non-profit organizations that assist with necessities.</p>
            <p>In the Dominican Republic, there are no government programs to assist the poor.  There are no food pantries or churches to help with building bathrooms, or seeing that children without birth certificates have an opportunity to still learn from a qualified teacher. </p>
        </div>
    </div>
</div>
<div style="background-color: #fbfbfb">
    <div class='container' id='staff'>
        <div class='row'>
            <div class='col col-sm-12'>
                <h2>Meet Our Staff</h2>
            </div>
            <div class='col col-xs-6 col-md-3 align-center'>
                <img id="bigger-logo-img" src="/assets/images/no-image.png" >
                <p><strong>Jose Almonté </strong><br>co-leader</p>
            </div>
            <div class='col col-xs-6 col-md-3 align-center'>
                <img id="bigger-logo-img" src="/assets/images/no-image.png" >
                <p><strong>Mario Rosario  </strong><br>co-leader</p>
            </div>
            <div class='col col-xs-6 col-md-3 align-center'>
                <img id="bigger-logo-img" src="/assets/images/no-image.png" >
                <p><strong>Richard Chatman </strong><br>co-leader</p>
            </div>
            <div class='col col-xs-6 col-md-3 align-center'>
                <img id="bigger-logo-img" src="/assets/images/no-image.png" >
                <p><strong>Ruth de Rosario Mateo </strong><br>co-leader</p>
            </div>
        </div>
    </div>
</div>