<section id='video'>
  <div class='container'>
    <div class='row'>
        <div class='col col-sm-12' style='margin-bottom:1em;'>
            <h2>Projects</h2>
        </div>
      <div class='col-md-8'>
        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/E76uJfYaEFY?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>  
      </div>
      <div class='col-md-4'>
        <h3>Goshen Baptist Church, West Chester, PA </h3>
        <p>Since 2006 Goshen has been serving and learning from our sister church in Sabana Cruz, D. R., through annual visits and ongoing prayer and communication.  After completing our mission in Sabana Cruz in 2013, we've been praying about a new opportunity to show Jesus' love in the D. R. </p>
        <h3>High Point Church, Madison, WI</h3>
        <p>High Point Church has a partnership through Hands of Hope with the community of El Amirante in the Dominican Republic. This year we had two teams that went – an adult team and a student team. <a href='https://hpcmadison.com/2015/07/20/2015-dominican-republic-team-updates/'>Check out the updates</a></p>
      </div>
    </div>
  </div>
</section>
<section id='projects'>
  <div class='container'>
    <div class='row'>

      <div class='col col-md-4'>
          <img id="bigger-logo-img" src="/assets/images/icn1.svg" >
          <h3 class='text-center'>Child Sponsorship</h3>
          <p>The Hands of Hope Child Sponsorship Program is comprehensive and holistic. It's dedicated to helping children find a path out of poverty through the love of Jesus Christ.  By working with local churches and community leaders, Hands of Hope offers educational opportunities, health care and health-related instruction, nutrition, life-skills training, and opportunities to hear about and respond to the Gospel.</p>
      </div>
      <div class='col col-md-4'>
          <img id="bigger-logo-img" src="/assets/images/icn2.svg" >
          <h3 class='text-center'>Community Partnership</h3>
          <p>Hands of Hope has identified a number of communities, both urban and rural, for churches to partner with in developing long-range plans (generally about a 10 year project) to identify and prioritize community needs, such as schools, churches, medical clinics, community centers, water wells, and leadership mentoring. 
            Plans are developed based on priorities, funding opportunities, and the short-term member skills and experience.  Churches send short-term teams one or more times per year.  Hands of Hope staff work with the community and church leaders on an ongoing basis, providing consultation and assessment of progress, coordinating training for leaders and pastors, monitoring sponsored children and their families, etc.</p>
      </div>
      <div class='col col-md-4'>
          <img id="bigger-logo-img" src="/assets/images/icn3.svg" >
          <h3 class='text-center'>Short-term Mission Trips</h3>
          <p>Hands of Hope provides opportunities for churches to send teams to serve in Dominican Republic communities in a variety of ways, including building and remodeling houses, building latrines, leading Vacation Bible School, visiting sponsored children, sending medical professionals and supplies to provide basic health care assessments and information, and witness the love of Christ by building relationships.</p>
      </div>
  </div>
  </div>
</section>
