
<div id='map'></div>
<div style="background-color: #fff">
    <div class='container' id='contact'>
        <div class='row'>
            <div class='col col-xs-12 col-md-3 align-center'>
                <a href="mailto:info@handsofhopedr.org">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <p><strong>EMAIL</strong><br>info@handsofhopedr.org </p>
            </div>
            <div class='col col-xs-12 col-md-3 align-center'>
                <a href="tel:6083477755">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
                <p><strong>PHONE</strong><br>608-347-7755</p>
            </div>
            <div class='col col-xs-12 col-md-3 align-center'>
                <a href='https://www.youtube.com/channel/UC7dKJQMtvEmLVGclvsQdq8g' target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <p><strong>FACEBOOK</strong><br>@HOHDominicanRepublic</p>
            </div>
            <div class='col col-xs-12 col-md-3 align-center'>
                <a href='https://www.youtube.com/channel/UC7dKJQMtvEmLVGclvsQdq8g' target="_blank">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
                <p><strong>YOUTUBE</strong><br>Rick Zynda</p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #fbfbfb">
    <div class='container' id='form'>
        <div class='row'>
                <div class='col col-xs-12 col-md-6'>
                        <img class="icn" src="/assets/images/email.svg">
                </div>
                <div class='col col-xs-12 col-md-6'>
                    <h2>Send us a message</h2>
                    <form>
                            <div class="ui-g ui-fluid">
                                    <div class="ui-g-12">
                                        <div class="ui-inputgroup">
                                            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" pInputText placeholder="Username">         
                                        </div>
                                        <div class="ui-inputgroup">
                                            <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="email" pInputText placeholder="Email">       
                                        </div>
                                        <div class="ui-inputgroup">
                                            <span class="ui-inputgroup-addon"><i class="fa fa-paperclip"></i></span>
                                            <input type="text" pInputText placeholder="Subject">      
                                        </div>
                                        <textarea name="Message" pInputText placeholder="Message" rows="4"></textarea>
                                    </div> 
                                </div>
                                <input type='submit' value='&nbsp;&nbsp;SEND&nbsp;&nbsp;' class='customButton' style='float:right;'>
                    </form>

                </div>
        </div>
    </div>
</div>