<section id='acticle' class='container'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='article' *ngFor='let item of articles'>
          <img src='{{item.display}}'>
          <h2>{{item.title}}</h2>
          <div class='date'><i class="fa fa-clock-o" aria-hidden="true"></i> 26 FEBRERO, 2018</div>
          <p>
              {{item.body}}
          </p>
          <br>
          <a href=''>Edit Post</a>
        </div>
      </div>
      <div class='col-md-4 rait'>
          <h3 class='title'>ENTRADAS DESTACADAS</h3>
          <a href='' *ngFor='let item of articles'>
            <img src='{{item.display}}'>
          <div class='text'>
              <h3>{{item.title}}</h3>
              <p>
                  {{item.body &&  item.body.length > 70 ? (item.body ).substr(0,70) + "..." : ''}}
                  {{item.body &&  item.body.length < 70 ? item.body : ''}}
              </p>
          </div>
        </a>
      </div>
    </div>
  </section>