.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 .mat-toolbar.mat-primary {
  background-color: rgba(34,40,39,0.8);
  color: white;
  // border-bottom-style: solid;
  // border-color: black;
 }

 .png-icon{
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;
}

#logo{
  #logo-text{
    font-size: 2rem;
    margin-left: 5px;
  }
}

.mat-toolbar{
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  
  &.fixed {
    position: fixed;
  }
}