.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#swanky-nav{
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  position: fixed;
  
  #logo{
    #logo-text{
      font-size: 1.5rem !important;
      letter-spacing: 1.2px;
      margin-left: 5px;
      font-family: 'Istok Web', sans-serif;
      font-weight: bold !important;
    }
  }
  
  #nav-menu{
    list-style-type: none;
    margin: 6px 0 0 0;
    padding: 0;
    overflow: hidden;
    li {
      font-family: 'Istok Web', sans-serif;
      font-weight: bold !important;
      font-size: 1.5rem;
      float: left;
      opacity: 0.9;
      a {
        display: block;
        color: white;
        text-align: center;
        padding: 0 15px 0 15px;
        text-decoration: none;
        position: relative;

        &:hover::after {
          content: "";
          position: absolute;
          left: 20%;
          right: 20%;
          bottom: 0;
          border: 1.2px solid #88b235;
        }
      }
    }
  } 

  &.mat-primary {
    background-color: rgba(27, 27, 27, 0.9);
  }
  
  #child-icon >span.ui-button-icon-left.fa-child{
    font-size: 30px;
  }

  .png-icon{
   padding: 0;
   display: inline-block;
   background-repeat: no-repeat no-repeat;
   pointer-events: none;
 }
}



