<div class='tbar'>
  <div class='container'>
    <div class='row'>
      <div class='col col-sm-12'>
        <div class='left' routerLink="/">
          <img class="png-icon" src="/assets/images/hoh.svg">
        </div>
        <div class='right'>
          <ul id="nav-menu" [@slide]="sliding">
            <li>
              <a [routerLink]="['/']" href="/">HOME</a>
            </li>
            <li>
              <a [routerLink]="['/projets']">PROJECTS</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <a [routerLink]="['/about']">ABOUT US</a>
            </li>
            <li>
              <a [routerLink]="['/contact']">CONTACT</a>
            </li>
            <li>
              <a [routerLink]="['/sponsorship']" style='color: #88b236;text-shadow: 0 0 5px rgba(163, 212, 68, 0.35);'>
                <i class="fa fa-heart" aria-hidden="true"></i>SPONSOR A CHILD</a>
            </li>
          </ul>

          <div class="btn-group" dropdown>
            <button style="color: white;" mat-icon-button dropdownToggle>
              <mat-icon>account_circle</mat-icon>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
              <li *ngIf="isAdmin" role="menuitem">
                <a style="padding-left: 10px; height: 30px; vertical-align:middle;" class="dropdown-item" [routerLink]="['/admin']">
                  <mat-icon>build</mat-icon>
                  <span style="margin-left: 10px;">ADMIN PORTAL</span>
                </a>
              </li>
              <li role="menuitem">
                <a style="padding-left: 10px; height: 30px; vertical-align:middle;" class="dropdown-item" [routerLink]="['login']">
                  <mat-icon *ngIf="loggedIn">exit_to_app</mat-icon>
                  <span style="margin-left: 10px;">{{loggedIn ? 'LOG OUT': 'LOG IN'}}</span>
                </a>
              </li>
            </ul>
          </div>
          <i class="fa fa-bars" aria-hidden="true" id='toggleMenu' (tap)='toggleSlide()'></i>

        </div>
      </div>
    </div>
  </div>
</div>


<alert></alert>
<router-outlet></router-outlet>
<spinner class="spinner" name="realSpinner" loadingImage="/assets/images/spinner.gif"></spinner>
<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col col-md-12' style='text-align:center;'>
        <p>
          <strong>HANDS OF HOPE DR</strong>
          <br> info@handsofhopedr.org
          <br>
          <a href='https://www.facebook.com/HOHDominicanRepublic/' target='_blank'>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
          <a href='https://www.youtube.com/channel/UC7dKJQMtvEmLVGclvsQdq8g' target='_blank'>
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
          <a href='https://www.youtube.com/channel/UC7dKJQMtvEmLVGclvsQdq8g' target='_blank'>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>