<mat-toolbar [class.fixed]="fixedNav" id="swanky-nav" color="primary">
    <button id="logo" mat-button routerLink="/">
        <img class="png-icon" src="/assets/images/hoh.png" style="width: 50px; height: 50px;">
        <span id="logo-text">Hands Of Hope</span>
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button class="hoh-green" mat-button routerLink="/sponsorship">CHILD SPONSORSHIP</button>
        <button mat-button routerLink="/projets">PROJECTS</button>
        <button mat-button routerLink="/about">ABOUT US</button>
        <button mat-button routerLink="/contact">CONTACT</button>

        <button mat-icon-button [routerLink]="loggedIn ? [''] : ['login']">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="loggedIn" mat-icon-button [routerLink]="['login']">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
    <button mat-icon-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/sponsorship">CHILD SPONSORSHIP</button>
    <button mat-menu-item routerLink="/projets">PROJECTS</button>
    <button mat-menu-item routerLink="/about">ABOUT US</button>
    <button mat-menu-item routerLink="/contact">CONTACT</button>
</mat-menu>
<alert></alert>
<router-outlet></router-outlet>