<section id='blog' class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <div class='article' *ngFor='let item of articles'>
        <a [routerLink]="['/blog/article/' + item.id]"><img src='{{item.display}}'>
        <h2>{{item.title}}</h2></a>
        <div class='date'><i class="fa fa-clock-o" aria-hidden="true"></i> 26 FEBRERO, 2018</div>
        <p>
            {{item.body &&  item.body.length > 500 ? (item.body ).substr(0,500) + "..." : ''}}
            {{item.body &&  item.body.length < 500 ? item.body : ''}}
        </p>

      </div>
    </div>
    <div class='col-md-4 rait'>
        <h3 class='title'>ENTRADAS DESTACADAS</h3>
        <a [routerLink]="['/blog/create/' + item.id]" *ngFor='let item of articles'>
          <img src='{{item.display}}'>
        <div class='text'>
            <h3>{{item.title}}</h3>
            <p>
                {{item.body &&  item.body.length > 70 ? (item.body ).substr(0,70) + "..." : ''}}
                {{item.body &&  item.body.length < 70 ? item.body : ''}}
            </p>
        </div>
      </a>
    </div>
  </div>
</section>