<section id='create' class='container'>
    <div class='row'>
      <div class='col-md-8'>
        <h2>Add New Post</h2>
          <form novalidate >
              <div id="file-input">
                <!-- <label for="postPhoto" id="preview">
                  <img [src]="previewSrc">
                </label>
                <input style="opacity: 0; display: none;" id="postPhoto" type="file" name="postPhoto" #postPhoto (change)="updateImageDisplay()" Placeholder="Upload file..." accept=".jpg, .jpeg, .png" /> -->
              </div>
              <input  pinputtext="" placeholder="Post Title" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
              <textarea pinputtext="" >

              </textarea>

              <button type='submit' class='customButton'>PUBLISH</button>
          </form>
      </div>

    </div>
  </section>