<section id='create' class='container'>
    <div class='row'>
      <div class='col-md-8'>
        <h2>Add New Post</h2>
          <form novalidate >
              <div id="file-input">
                <label for="photo" id="preview">
                  <img [src]="previewSrc" >
                </label>
                <input style="opacity: 0; display: none;" id="photo" type="file" name="photo" #photo (change)="updateImageDisplay()" Placeholder="Upload file..." accept=".jpg, .jpeg, .png" />
              </div>
              <input placeholder="Post Title" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
              <textarea></textarea>
              <button type='button' class='customButton photoBtn'> <i class="fa fa-file-image-o" aria-hidden="true"></i> Add Photo</button>
              <button type='submit' class='customButton'>PUBLISH</button>
          </form>
      </div>

    </div>
  </section>