<div class="main-container">
    <div class="container" id="user-list">
        <div class="row" *ngFor="let user of users">
            <span id="user-list-title" class="col-xs-6 col-sm-8">{{user.email}} ({{user.firstName}} {{user.lastName}})</span>
            <span class="col-xs-6 col-sm-4">
                <button *ngIf="currentUser.role === appConfig.accessTypes.super_admin" (click)="deleteUser(user, 'Delete ' + user.firstName + ' ' + user.lastName)"
                    class="pull-right" mat-icon-button style="color: red;">
                    <mat-icon pTooltip="Remove User" tooltipPosition="top" showDelay="600">remove_circle</mat-icon>
                </button>
                <button *ngIf="currentUser.role === appConfig.accessTypes.super_admin" (click)="manageSuperAdmin(user)" class="pull-right"
                    mat-icon-button>
                    <mat-icon [ngClass]="{'hoh-green-font': user.role == 4 }" pTooltip="Make Super Admin" tooltipPosition="top" showDelay="600">vpn_key</mat-icon>
                </button>
                <button (click)="manageAdmin(user)" class="pull-right" mat-icon-button>
                    <mat-icon [ngClass]="{'hoh-green-font': user.role == 2 }" pTooltip="Make Admin" tooltipPosition="top" showDelay="600">child_care</mat-icon>
                </button>
            </span>
        </div>
    </div>
</div>