/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url('~@angular/material/prebuilt-themes/indigo-pink.css');


body {
    min-height: 100%;
    position: relative;
    padding-bottom: 11rem;
    margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

.mat-icon-button{
    cursor: pointer;
}

.full-width{
    width: 100%;
  }
  
.align-center{
    text-align: center;
}
.align-justify{
    text-align: justify;
}

.auth-forms {
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    margin-top: 50px;
    padding: 25px;
    min-width: 250px;
    h3{
        margin-top: 0;
    }
    mat-input-container{
        padding-bottom: 10px;
        margin-bottom: 0px;
    
    }
    .auth-buttons{
        margin-top: 20px;
    }
}



.main-container{
    max-width: 1333px; 
    min-height: 550px;
    margin: 0 auto;
}

.center-block {
    float: none;
}

.hoh-green{
    background: rgb(136, 178, 53) !important;
}

.hoh-green-font{
    color: rgb(136, 178, 53) !important;
}

.red{
    color: red !important;
}

#zoneList {
    width: 200px;
    .ui-dropdown-label.ui-inputtex{

        padding: 10px;
    }
}

p-calendar{
    input {
        width: 100%
    }
}

p-selectbutton {
    span {
        height: 27px;
    }
}

.spinner{
    div {
        background-color: rgba(49, 37, 37, 0.2);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        content: " ";

        img{
            position: absolute;
            top: 50%;
            right: 50%;
        }
    }

}

.body{
    width: 100vw;
    overflow-x: hidden;
  }
  h1,h2,h3,h4,h5{
    font-family: 'Istok Web', sans-serif!important;
  }
  body{
    font-family: 'Open Sans', sans-serif!important;
    color:#000;
  }
  .tbar{
    background-color: rgba(41, 43, 41, 0.98);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 999;
    box-sizing: border-box;
    button{
        box-shadow: none!important;
    }
    .container {
        width: 100%;
        max-width: 1500px;
    }
    @media (max-width: 1000px) {
        .row{
            background-color: #292b29;
        }
    }
    .left{
      color:white;
      font-family: 'Roboto', sans-serif;
      img{
        width: 200px;
        margin-right: 0.5em;
      }
    }
  
    .col-sm-12{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .right{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
    }
    #toggleMenu{
        display:none;
        z-index: 99999999999;
        color:white;
        font-size:1.2em;
        margin-left:0.5em;
        padding: 0.5em;
        @media (max-width: 1000px) {
            display:block;
        }
    }
    #nav-menu{
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      display:flex;
      margin:0;
      height:100%;
      i{
        font-size: 1.5em;
        vertical-align: text-bottom;
        margin-right: 0.3em;
      }
      @media (min-width: 1001px) {
        transform:none!important;
        display:flex!important;
      }
      @media (max-width: 1000px) {
        flex-direction: column;
        position: fixed;
        left: 0;
        top:64px;
        right:0;
        height:auto;
        z-index: -1;
        background-color: #292b29;
      }
      li {
        font-family: 'Istok Web', sans-serif;
        font-size: 1.5rem;
        float: left;
        opacity: 0.9;
        &:nth-last-child(){
          display:none;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          padding: 0 15px 0 15px;
          text-decoration: none;
          letter-spacing: 0.05em;
          height:100%;
          transition: all 300ms cubic-bezier(0.0, 0.0, 0.2, 1);
          font-family: 'Roboto', sans-serif;
          &:hover{
            background-color: rgba(255, 255, 255, 0.08);
          }
          @media (max-width: 1000px) {
            padding: 1em;
            justify-content: flex-start;
            border-bottom: 1px solid rgba(255, 255, 255, 0.04);
            &:nth-last-child(){
              border-bottom:none;
            }
          }
        }
      }
    } 
  }
  .scroll-X{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: -1em;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px 0.7vw;
    .item{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 31.5%;
        margin: 1em;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3em;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.08);
        @media (max-width: 1000px) {
            flex-basis: 100%;
          }
        p{
            font-size: 0.9em;
            display: block;
            width: 90%;
            max-width: 280px;
            margin-bottom:1em;
        
            strong{
                font-size: 1.1em;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }
        .photo{
            height: 10em;
            width: 10em;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
            margin-bottom:1.5em;
            
        }
    }
}
.static{
    flex-wrap: wrap;
    .item{
        flex-basis: 20%;
        box-shadow: none;
        padding: 0;
        justify-content: flex-start;
    }
}
  .footer{
    background-color: #3b403b;
    color:white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5em;
    text-align: center;
    i{
        color: white;
        font-size: 1.5em;
        margin: 1em 0.3em 0 0.3em;
    }
  }
  .flexRow{
    display:flex;
    @media (max-width: 1000px) {
      flex-direction: column;
      padding-top: 1em;
    }
    .a{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
  h1,h2,h3,h4,h5{
    font-family: 'Istok Web', sans-serif!important;
  }
  h2{
    font-weight: bold;
    font-size: 3em;
  }
  h3{
    margin: 0.5em 0;
    line-height: 1.3em;
  }
  p{
    margin: 0 0 10px;
  }
