/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    min-width: 320px;
}

::-webkit-scrollbar {
    display: none;
}

.md-icon-button{
    cursor: pointer;
}

.full-width{
    width: 100%;
  }
  
.align-center{
    text-align: center;
}

.auth-forms {
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    margin-top: 50px;
    padding: 25px;
    min-width: 250px;
}

.auth-forms h3{
    margin-top: 0;
}

.auth-forms md-input-container{
    padding-bottom: 10px;
    margin-bottom: 0px;

}

.auth-forms .auth-buttons{
    margin-top: 20px;
}

.main-container{
    max-width: 1333px; 
    min-height: 550px;
    margin: 0 auto;
}

.center-block {
    float: none;
}

.hoh-green{
    background: rgb(136, 178, 53) !important;
}

.hoh-green-font{
    color: rgb(136, 178, 53) !important;
}

.red{
    color: red !important;
}