

<div class='header'>
    <img id="bigger-logo-img" src="/assets/images/hoh.png">
    <h1>Partnering to make God's love visible through Education, Housing & Health</h1>
</div>

<div style="background-color: #fbfbfb">
    <div class='container'>
        <div class='row' class='flexRow' style='display:flex;'>
            <div class='col col-md-6 a'>
                <h2>About us</h2>
                <h3>Partnering to make God's love visible through <b>Education, Housing & Health</b></h3>
                <p>Hands of Hope partners with communities, developing organizations, churches and leaders so that children's educational opportunities are increased, decent housing is developed and spiritual, physical and medical needs are addressed.</p>
                <button type='button'>READ MORE</button>
            </div>
            <div class='col col-md-6'>
                <img id="bigger-logo-img" src="/assets/images/hoh.png" style='width:100%;'>
            </div>
        </div>
    </div>
</div> 
<div style="background-color: #fff">
        <div class='container'>
            <div class='row' style='padding: 4em 0;'>
                <div class='col col-md-12' style='text-align:center;'>
                    <h2>Child Sponsorship Program</h2>
                    <h3>Sponsor a child for $32/mo</h3>
                    <div class='scroll-X'>
                            <div class='item'>
                                <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                <p><strong>FELIX MATEO </strong><br> 12 Years old - 7th grade</p>
                                <p>I’m 12 years old, live with my parents and love baseball. My favorite subject is math.</p>
                                <button type='button'>SPONSOR</button>
                            </div>
                            <div class='item'>
                                <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                <p><strong>FELIX MATEO </strong><br> 12 Years old - 7th grade</p>
                                <p>I’m 12 years old, live with my parents and love baseball. My favorite subject is math.</p>
                                <button type='button'>SPONSOR</button>
                            </div>
                            <div class='item'>
                                    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="First slide" class='photo'>
                                    <p><strong>FELIX MATEO </strong><br> 12 Years old - 7th grade</p>
                                    <p>I’m 12 years old, live with my parents and love baseball. My favorite subject is math.</p>
                                    <button type='button'>SPONSOR</button>
                                </div>
                        </div>
                </div>
            </div>
        </div>
 </div> 