
.header:after{
  background-image: url('/assets/images/bg1.jpg');
}

#bigger-logo {
  text-align: center;
  height: 486px;
  background-color: rgba(27, 27, 27, 0.9);
  #bigger-logo-img{
    height: 250px;
    width: auto;
  }
}