<div class='header'>
    <img id="bigger-logo-img" src="/assets/images/hoh.png">
    <h1>Partnering to make God's love visible through Education, Housing & Health</h1>
</div>

<div style="background-color: #fbfbfb">
    <div class='container'>
        <div class='row' class='flexRow' style='display:flex;'>
            <div class='col col-md-6 a'>
                <h2>About us</h2>
                <h3>Partnering to make God's love visible through
                    <b>Education, Housing & Health</b>
                </h3>
                <p>Hands of Hope partners with communities, developing organizations, churches and leaders so that children's
                    educational opportunities are increased, decent housing is developed and spiritual, physical and medical
                    needs are addressed.</p>
                <button type='button' [routerLink]="['/about']">READ MORE</button>
            </div>
            <div class='col col-md-6'>
                <img id="about-logo" src="/assets/images/hoh.png">
            </div>
        </div>
    </div>
</div>
<div style="background-color: #fff">
    <div class='container'>
        <div class='row' style='padding: 4em 0;'>
            <div class='col col-md-12' style='text-align:center;'>
                <h2>Child Sponsorship Program</h2>
                <h3>Sponsor a child for $32/mo</h3>
                <div class='scroll-X'>
                    <child-card *ngFor="let child of children" [child]="child"></child-card>
                </div>
            </div>
        </div>
    </div>
</div>
