.main-container{
    margin-top: 10px;
    margin-left: 20px;

    #zoneList {
        width: 200px;
        .ui-dropdown-label.ui-inputtex{

            padding: 10px;
        }
    }
    p-dropdown{
        width: 100px;
    }
}
